name: ST_Mount

on:
  workflow_dispatch:

jobs:
  build:
    name: Build and analyze
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      - name: install blobfuse
        run: |
          sudo apt update
          sudo apt install blobfuse2 fuse3 libfuse3-dev -y
      - name: Create NVD folder
        run: |
          sudo mkdir /mnt/nvd_data
          sudo chown -R $USER:$USER /mnt/nvd_data
          sudo mkdir ${{ runner.temp }}/blobfusetmp
      - name: Mount Azure Blob Storage
        env:
          AZURE_STORAGE_AUTH_TYPE: 'Key'
          AZURE_STORAGE_ACCOUNT: '${{ secrets.STORAGE_ACCOUNT_NAME }}'
          AZURE_STORAGE_ACCESS_KEY: '${{ secrets.STORAGE_ACCOUNT_KEY }}'
          AZURE_STORAGE_ACCOUNT_CONTAINER: '${{ secrets.CONTAINER_NAME }}'
        run: |
          sudo blobfuse2 mount /mnt/nvd_data \
            --tmp-path=${{ runner.temp }}/blobfusetmp \
            --container-name=${{ secrets.CONTAINER_NAME }}
      - name: Unmount Azure Blob Storage
        run: |
          sudo umount /mnt/nvd_data || echo "Unmount failed"
