name: ST_Mount

on:
  workflow_dispatch:

jobs:
  build:
    name: Build and analyze
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4

      - name: Install BlobFuse
        run: |
          sudo apt update
          sudo apt install blobfuse2 fuse3 libfuse3-dev -y

      - name: Create NVD folder
        run: |
          mkdir /home/runner/work/_temp/nvd_data
          mkdir /home/runner/work/_temp/blobfusetmp
          cd /home/runner/work
          ls

      - name: Copy config file
        run: |
          echo "${{ secrets.CONFIG_CONTENT }}" > config.yaml
          chmod 600 config.yaml

      - name: Mount Azure Blob Storage
        run: blobfuse2 mount /mnt/nvd_data --config-file=config.yaml

      - name: Verify mount
        run: |
          cd /mnt/nvd_data
          ls
          echo "Hello-world" > config-$GITHUB_RUN_NUMBER.yaml

      - name: Wait before unmount
        run: sleep 5

      - name: Unmount Azure Blob Storage
        run: sudo umount /mnt/nvd_data || echo "Unmount failed"

