name: ST_Mount

on:
  workflow_dispatch:

jobs:
  build:
    name: Build and analyze
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      - name: install blobfuse
        run: |
          sudo apt-get install blobfuse2
          # cd ${{ runner.temp }}
          # sudo wget https://packages.microsoft.com/config/ubuntu/20.04/packages-microsoft-prod.deb
          # sudo dpkg -i packages-microsoft-prod.deb
          # sudo apt-get update
          # sudo apt-get install libfuse3-dev fuse3
      - name: mount blob
        env:
          STORAGE_ACCOUNT_NAME: ${{ secrets.STORAGE_ACCOUNT_NAME }}
          STORAGE_ACCOUNT_KEY: ${{ secrets.STORAGE_ACCOUNT_KEY }}
          CONTAINER_NAME: ${{ secrets.CONTAINER_NAME }}
        run: |
          blobfuse2 mount ./data
          cd data
          ls -a
