name: SonarQube

on:
  workflow_dispatch:

jobs:
  build:
    name: Build and analyze
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis

      - name: Install Dependencies
        run: npm install

      - name: Install OWASP
        run: |
          VERSION=$(curl -s https://jeremylong.github.io/DependencyCheck/current.txt)
          curl -Ls "https://github.com/jeremylong/DependencyCheck/releases/download/v$VERSION/dependency-check-$VERSION-release.zip" --output ${{ runner.temp }}/dependency-check.zip
          unzip ${{ runner.temp }}/dependency-check.zip -d ${{ runner.temp }}
      
      - name: Install BlobFuse
        run: |
          sudo apt update
          sudo apt install blobfuse2 fuse3 libfuse3-dev -y
          echo "${{ secrets.CONFIG_CONTENT }}" > config.yaml
          chmod 600 config.yaml
          mkdir /home/runner/work/nvd_data
          mkdir /home/runner/work/blobfusetmp

      - name: Mount Azure Blob Storage
        run: blobfuse2 mount /home/runner/work/nvd_data --config-file=config.yaml

      - name: Install Trivy
        run: |
          curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sudo sh -s -- -b /usr/local/bin v0.57.0
          trivy --version

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
   
      - name: Run OWASP Dependency Check
        run: |
          ${{ runner.temp }}/dependency-check/bin/dependency-check.sh --project "Test-ShopingKaro" \
            --out ${{ github.workspace }} \
            --scan "${{ github.workspace }}" \
            --format HTML \
            --format JSON \
            --data /home/runner/work/nvd_data \
            --nvdApiKey cbfdc3a4-45a8-4367-a3d1-321b529d7a94

      # Build the Docker image without pushing
      - name: Build Docker Image
        run: |
          docker build -t shopingkaro:latest .

      - name: Run Trivy Vulnerability Scanner
        run: |
          trivy image \
            --scanners vuln \
            --ignore-unfixed \
            --vuln-type os,library \
            --severity CRITICAL,HIGH \
            --format sarif \
            --output trivy-report.sarif \
            docker.io/library/shopingkaro:latest
        env:
          TRIVY_DB_REPOSITORY: public.ecr.aws/aquasecurity/trivy-db:2
          TRIVY_TIMEOUT: 10m0s
   
      - uses: sonarsource/sonarqube-scan-action@v3
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
          SONAR_SCANNER_OPTS: "-Xmx1024m -Xms1024m"
      # If you wish to fail your job when the Quality Gate is red, uncomment the
      # following lines. This would typically be used to fail a deployment.
      # - uses: sonarsource/sonarqube-quality-gate-action@master
      #   timeout-minutes: 5
      #   env:
      #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Unmount Azure Blob Storage
        run: sudo umount /mnt/nvd_data || echo "Unmount failed"
